In [2]:
%load_ext sql

/usr/local/lib/python3.7/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

'Connected: mildsalmon_su@dev'

In [12]:
%%sql

DROP TABLE IF EXISTS mildsalmon_su.name_gender;
CREATE TABLE mildsalmon_su.name_gender (
   name varchar(32),
   gender varchar(8)
);

 * postgresql://mildsalmon_su:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
Done.
Done.

[]

In [13]:
import psycopg2

# Redshift connection 함수
def get_Redshift_connection():
    host = "****"
    redshift_user = "mildsalmon_su"
    redshift_pass = "****"
    port = 5439
    dbname = "dev"
    conn = psycopg2.connect("dbname={dbname} user={user} host={host} password={password} port={port}".format(
        dbname=dbname,
        user=redshift_user,
        password=redshift_pass,
        host=host,
        port=port
    ))
    conn.set_session(autocommit=True)
    return conn.cursor()

In [14]:
import requests

def extract(url):
    f = requests.get(url)
    return (f.text)

In [15]:
def transform(text):
    lines = text.split("\n")
    return lines

# Assignment #1 - Colab Python 코드 개선하기

## 1. 헤더가 레코드로 추가되는 문제 해결하기

lines의 데이터를 확인해보자

In [ ]:
link = "https://s3-geospatial.s3-us-west-2.amazonaws.com/name_gender.csv"

data = extract(link)
lines = transform(data)

lines[:10]

['name,gender',
 'Adaleigh,F',
 'Amryn,Unisex',
 'Apurva,Unisex',
 'Aryion,M',
 'Alixia,F',
 'Alyssarose,F',
 'Arvell,M',
 'Aibel,M',
 'Atiyyah,F']

리스트의 0번째 인덱스에 해당하는 element가 헤더인 것을 확인할 수 있다.

따라서, 0번째 인덱스를 제외하면 헤더가 레코드로 추가되는 문제를 해결할 수 있다.

In [ ]:
def load(lines):
    cur = get_Redshift_connection()
    # 헤더가 레코드로 추가되는 문제 해결
    for r in lines[1:]:
        if r != '':
            (name, gender) = r.split(",")
            print(name, "-", gender)
            sql = "INSERT INTO mildsalmon_su.name_gender VALUES ('{n}', '{g}')".format(n=name, g=gender)
            print(sql)
            cur.execute(sql)

## 2. Idempotent하게 job을 만들기

멱등하다는 것은 언제나 동일한 결과를 보장하는 것이다.

In [ ]:
def load(lines):
    cur = get_Redshift_connection()
    # INSERT를 하기 전에 table의 모든 내용을 지워주면, 멱등성을 지킬 수 있다.
    sql = "DELETE FROM mildsalmon_su.name_gender"
    cur.execute(sql)
    # 헤더가 레코드로 추가되는 문제 해결
    for r in lines[1:]:
        if r != '':
            (name, gender) = r.split(",")
            print(name, "-", gender)
            sql = "INSERT INTO mildsalmon_su.name_gender VALUES ('{n}', '{g}')".format(n=name, g=gender)
            print(sql)
            cur.execute(sql)

## 3. Transaction 사용하기

같은 세션 안에서는 `BEGIN ~ END`를 따로 execute시켜도 트랜잭션으로 처리된다.

자세한 설명은 다음주 강의에서..

---

commit을 따로 해주지 않은 이유는 END가 commit과 동의어이기 때문!

In [16]:
def load(lines):
    cur = get_Redshift_connection()
    # INSERT를 하기 전에 table의 모든 내용을 지워주면, 멱등성을 지킬 수 있다.
    sql = "BEGIN;DELETE FROM mildsalmon_su.name_gender"
    cur.execute(sql)
    # 헤더가 레코드로 추가되는 문제 해결
    for r in lines[1:]:
        if r != '':
            (name, gender) = r.split(",")
            print(name, "-", gender)
            sql = f"INSERT INTO mildsalmon_su.name_gender VALUES ('{name}', '{gender}')"
            print(sql)
            cur.execute(sql)
    cur.execute("END;")

# ETL과정 실행해보기

In [17]:
link = "https://s3-geospatial.s3-us-west-2.amazonaws.com/name_gender.csv"

data = extract(link)
lines = transform(data)
load(lines)

Adaleigh - F
INSERT INTO mildsalmon_su.name_gender VALUES ('Adaleigh', 'F')
Amryn - Unisex
INSERT INTO mildsalmon_su.name_gender VALUES ('Amryn', 'Unisex')
Apurva - Unisex
INSERT INTO mildsalmon_su.name_gender VALUES ('Apurva', 'Unisex')
Aryion - M
INSERT INTO mildsalmon_su.name_gender VALUES ('Aryion', 'M')
Alixia - F
INSERT INTO mildsalmon_su.name_gender VALUES ('Alixia', 'F')
Alyssarose - F
INSERT INTO mildsalmon_su.name_gender VALUES ('Alyssarose', 'F')
Arvell - M
INSERT INTO mildsalmon_su.name_gender VALUES ('Arvell', 'M')
Aibel - M
INSERT INTO mildsalmon_su.name_gender VALUES ('Aibel', 'M')
Atiyyah - F
INSERT INTO mildsalmon_su.name_gender VALUES ('Atiyyah', 'F')
Adlie - F
INSERT INTO mildsalmon_su.name_gender VALUES ('Adlie', 'F')
Anyely - F
INSERT INTO mildsalmon_su.name_gender VALUES ('Anyely', 'F')
Aamoni - F
INSERT INTO mildsalmon_su.name_gender VALUES ('Aamoni', 'F')
Ahman - M
INSERT INTO mildsalmon_su.name_gender VALUES ('Ahman', 'M')
Arlane - F
INSERT INTO mildsalmon_su.name_gender VALUES ('Arlane', 'F')
Armoney - F
INSERT INTO mildsalmon_su.name_gender VALUES ('Armoney', 'F')
Atzhiry - F
INSERT INTO mildsalmon_su.name_gender VALUES ('Atzhiry', 'F')
Antonette - F
INSERT INTO mildsalmon_su.name_gender VALUES ('Antonette', 'F')
Akeelah - F
INSERT INTO mildsalmon_su.name_gender VALUES ('Akeelah', 'F')
Abdikadir - M
INSERT INTO mildsalmon_su.name_gender VALUES ('Abdikadir', 'M')
Arinze - M
INSERT INTO mildsalmon_su.name_gender VALUES ('Arinze', 'M')
Arshaun - M
INSERT INTO mildsalmon_su.name_gender VALUES ('Arshaun', 'M')
Alexandro - M
INSERT INTO mildsalmon_su.name_gender VALUES ('Alexandro', 'M')
Ayriauna - F
INSERT INTO mildsalmon_su.name_gender VALUES ('Ayriauna', 'F')
Aqib - M
INSERT INTO mildsalmon_su.name_gender VALUES ('Aqib', 'M')
Alleya - F
INSERT INTO mildsalmon_su.name_gender VALUES ('Alleya', 'F')
Aavah - F
INSERT INTO mildsalmon_su.name_gender VALUES ('Aavah', 'F')
Anesti - Unisex
INSERT INTO mildsalmon_su.name_gender VALUES ('Anesti', 'Unisex')
Adalaide - F
INSERT INTO mildsalmon_su.name_gender VALUES ('Adalaide', 'F')
Analena - F
INSERT INTO mildsalmon_su.name_gender VALUES ('Analena', 'F')
Alaeyah - F
INSERT INTO mildsalmon_su.name_gender VALUES ('Alaeyah', 'F')
Albena - F
INSERT INTO mildsalmon_su.name_gender VALUES ('Albena', 'F')
Aimi - F
INSERT INTO mildsalmon_su.name_gender VALUES ('Aimi', 'F')
Adwaith - M
INSERT INTO mildsalmon_su.name_gender VALUES ('Adwaith', 'M')
Arkady - M
INSERT INTO mildsalmon_su.name_gender VALUES ('Arkady', 'M')
Astyn - Unisex
INSERT INTO mildsalmon_su.name_gender VALUES ('Astyn', 'Unisex')
Adelee - F
INSERT INTO mildsalmon_su.name_gender VALUES ('Adelee', 'F')
Agata - F
INSERT INTO mildsalmon_su.name_gender VALUES ('Agata', 'F')
Alegna - F
INSERT INTO mildsalmon_su.name_gender VALUES ('Alegna', 'F')
Altan - M
INSERT INTO mildsalmon_su.name_gender VALUES ('Altan', 'M')
Ahnaleigh - F
INSERT INTO mildsalmon_su.name_gender VALUES ('Ahnaleigh', 'F')
Algie - Unisex
INSERT INTO mildsalmon_su.name_gender VALUES ('Algie', 'Unisex')
Ashanti - F
INSERT INTO mildsalmon_su.name_gender VALUES ('Ashanti', 'F')
Aislyn - F
INSERT INTO mildsalmon_su.name_gender VALUES ('Aislyn', 'F')
Adaleine - F
INSERT INTO mildsalmon_su.name_gender VALUES ('Adaleine', 'F')
Anthnoy - M
INSERT INTO mildsalmon_su.name_gender VALUES ('Anthnoy', 'M')
Algernon - M
INSERT INTO mildsalmon_su.name_gender VALUES ('Algernon', 'M')
Aeryona - F
INSERT INTO mildsalmon_su.name_gender VALUES ('Aeryona', 'F')
Adrinne - F
INSERT INTO mildsalmon_su.name_gender VALUES ('Adrinne', 'F')
Addell - F
INSERT INTO mildsalmon_su.name_gender VALUES ('Addell', 'F')
Avril - F
INSERT INTO mildsalmon_su.name_gender VALUES ('Avril', 'F')
Ahni - F
INSERT INTO mildsalmon_su.name_gender VALUES ('Ahni', 'F')
Aimon - M
INSERT INTO mildsalmon_su.name_gender VALUES ('Aimon', 'M')
Adolpho - M
INSERT INTO mildsalmon_su.name_gender VALUES ('Adolpho', 'M')
Ahuva - F
INSERT INTO mildsalmon_su.name_gender VALUES ('Ahuva', 'F')
Aurielle - F
INSERT INTO mildsalmon_su.name_gender VALUES ('Aurielle', 'F')
Aveana - F
INSERT INTO mildsalmon_su.name_gender VALUES ('Aveana', 'F')
Aliyia - F
INSERT INTO mildsalmon_su.name_gender VALUES ('Aliyia', 'F')
Alesander - M
INSERT INTO mildsalmon_su.name_gender VALUES ('Alesander', 'M')
Adnrea - F
INSERT INTO mildsalmon_su.name_gender VALUES ('Adnrea', 'F')
Anjae - F
INSERT INTO mildsalmon_su.name_gender VALUES ('Anjae', 'F')
Alvine - F
INSERT INTO mildsalmon_su.name_gender VALUES ('Alvine', 'F')
Adorah - F
INSERT INTO mildsalmon_su.name_gender VALUES ('Adorah', 'F')
Adlemi - F
INSERT INTO mildsalmon_su.name_gender VALUES ('Adlemi', 'F')
Alesi - F
INSERT INTO mildsalmon_su.name_gender VALUES ('Alesi', 'F')
Alontae - M
INSERT INTO mildsalmon_su.name_gender VALUES ('Alontae', 'M')
Antonny - M
INSERT INTO mildsalmon_su.name_gender VALUES ('Antonny', 'M')
Adarah - F
INSERT INTO mildsalmon_su.name_gender VALUES ('Adarah', 'F')
Ayreanna - F
INSERT INTO mildsalmon_su.name_gender VALUES ('Ayreanna', 'F')
Antyon - M
INSERT INTO mildsalmon_su.name_gender VALUES ('Antyon', 'M')
Andia - F
INSERT INTO mildsalmon_su.name_gender VALUES ('Andia', 'F')
Ashla - F
INSERT INTO mildsalmon_su.name_gender VALUES ('Ashla', 'F')
Aspyn - F
INSERT INTO mildsalmon_su.name_gender VALUES ('Aspyn', 'F')
Antwanett - F
INSERT INTO mildsalmon_su.name_gender VALUES ('Antwanett', 'F')
Aundreia - F
INSERT INTO mildsalmon_su.name_gender VALUES ('Aundreia', 'F')
Audella - F
INSERT INTO mildsalmon_su.name_gender VALUES ('Audella', 'F')
Amari - Unisex
INSERT INTO mildsalmon_su.name_gender VALUES ('Amari', 'Unisex')
Arsha - Unisex
INSERT INTO mildsalmon_su.name_gender VALUES ('Arsha', 'Unisex')
Aricella - F
INSERT INTO mildsalmon_su.name_gender VALUES ('Aricella', 'F')
Adan - M
INSERT INTO mildsalmon_su.name_gender VALUES ('Adan', 'M')
Apasra - F
INSERT INTO mildsalmon_su.name_gender VALUES ('Apasra', 'F')
Alaysha - F
INSERT INTO mildsalmon_su.name_gender VALUES ('Alaysha', 'F')
Anderson - M
INSERT INTO mildsalmon_su.name_gender VALUES ('Anderson', 'M')
Aurelius - M
INSERT INTO mildsalmon_su.name_gender VALUES ('Aurelius', 'M')
Aerial - F
INSERT INTO mildsalmon_su.name_gender VALUES ('Aerial', 'F')
Averleigh - F
INSERT INTO mildsalmon_su.name_gender VALUES ('Averleigh', 'F')
Aslean - F
INSERT INTO mildsalmon_su.name_gender VALUES ('Aslean', 'F')
Arniesha - F
INSERT INTO mildsalmon_su.name_gender VALUES ('Arniesha', 'F')
Asyana - F
INSERT INTO mildsalmon_su.name_gender VALUES ('Asyana', 'F')
Annjane - F
INSERT INTO mildsalmon_su.name_gender VALUES ('Annjane', 'F')
Amabella - F
INSERT INTO mildsalmon_su.name_gender VALUES ('Amabella', 'F')
Austinjohn - M
INSERT INTO mildsalmon_su.name_gender VALUES ('Austinjohn', 'M')
Arloween - F
INSERT INTO mildsalmon_su.name_gender VALUES ('Arloween', 'F')
Alula - M
INSERT INTO mildsalmon_su.name_gender VALUES ('Alula', 'M')
Anemone - F
INSERT INTO mildsalmon_su.name_gender VALUES ('Anemone', 'F')
Amorina - F
INSERT INTO mildsalmon_su.name_gender VALUES ('Amorina', 'F')
Anureet - F
INSERT INTO mildsalmon_su.name_gender VALUES ('Anureet', 'F')
Arric - M
INSERT INTO mildsalmon_su.name_gender VALUES ('Arric', 'M')
Antonne - M
INSERT INTO mildsalmon_su.name_gender VALUES ('Antonne', 'M')
Alyre - M
INSERT INTO mildsalmon_su.name_gender VALUES ('Alyre', 'M')
Annaise - F
INSERT INTO mildsalmon_su.name_gender VALUES ('Annaise', 'F')

In [18]:
%%sql

SELECT name, gender
FROM mildsalmon_su.name_gender
;

 * postgresql://mildsalmon_su:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
100 rows affected.

[('Adaleigh', 'F'),
 ('Amryn', 'Unisex'),
 ('Apurva', 'Unisex'),
 ('Aryion', 'M'),
 ('Alixia', 'F'),
 ('Alyssarose', 'F'),
 ('Arvell', 'M'),
 ('Aibel', 'M'),
 ('Atiyyah', 'F'),
 ('Adlie', 'F'),
 ('Anyely', 'F'),
 ('Aamoni', 'F'),
 ('Ahman', 'M'),
 ('Arlane', 'F'),
 ('Armoney', 'F'),
 ('Atzhiry', 'F'),
 ('Antonette', 'F'),
 ('Akeelah', 'F'),
 ('Abdikadir', 'M'),
 ('Arinze', 'M'),
 ('Arshaun', 'M'),
 ('Alexandro', 'M'),
 ('Ayriauna', 'F'),
 ('Aqib', 'M'),
 ('Alleya', 'F'),
 ('Aavah', 'F'),
 ('Anesti', 'Unisex'),
 ('Adalaide', 'F'),
 ('Analena', 'F'),
 ('Alaeyah', 'F'),
 ('Albena', 'F'),
 ('Aimi', 'F'),
 ('Adwaith', 'M'),
 ('Arkady', 'M'),
 ('Astyn', 'Unisex'),
 ('Adelee', 'F'),
 ('Agata', 'F'),
 ('Alegna', 'F'),
 ('Altan', 'M'),
 ('Ahnaleigh', 'F'),
 ('Algie', 'Unisex'),
 ('Ashanti', 'F'),
 ('Aislyn', 'F'),
 ('Adaleine', 'F'),
 ('Anthnoy', 'M'),
 ('Algernon', 'M'),
 ('Aeryona', 'F'),
 ('Adrinne', 'F'),
 ('Addell', 'F'),
 ('Avril', 'F'),
 ('Ahni', 'F'),
 ('Aimon', 'M'),
 ('Adolpho', 'M'),
 ('Ahuva', 'F'),
 ('Aurielle', 'F'),
 ('Aveana', 'F'),
 ('Aliyia', 'F'),
 ('Alesander', 'M'),
 ('Adnrea', 'F'),
 ('Anjae', 'F'),
 ('Alvine', 'F'),
 ('Adorah', 'F'),
 ('Adlemi', 'F'),
 ('Alesi', 'F'),
 ('Alontae', 'M'),
 ('Antonny', 'M'),
 ('Adarah', 'F'),
 ('Ayreanna', 'F'),
 ('Antyon', 'M'),
 ('Andia', 'F'),
 ('Ashla', 'F'),
 ('Aspyn', 'F'),
 ('Antwanett', 'F'),
 ('Aundreia', 'F'),
 ('Audella', 'F'),
 ('Amari', 'Unisex'),
 ('Arsha', 'Unisex'),
 ('Aricella', 'F'),
 ('Adan', 'M'),
 ('Apasra', 'F'),
 ('Alaysha', 'F'),
 ('Anderson', 'M'),
 ('Aurelius', 'M'),
 ('Aerial', 'F'),
 ('Averleigh', 'F'),
 ('Aslean', 'F'),
 ('Arniesha', 'F'),
 ('Asyana', 'F'),
 ('Annjane', 'F'),
 ('Amabella', 'F'),
 ('Austinjohn', 'M'),
 ('Arloween', 'F'),
 ('Alula', 'M'),
 ('Anemone', 'F'),
 ('Amorina', 'F'),
 ('Anureet', 'F'),
 ('Arric', 'M'),
 ('Antonne', 'M'),
 ('Alyre', 'M'),
 ('Annaise', 'F')]