In [ ]:
%load_ext sql

In [ ]:
%sql postgresql://mildsalmon_su:Mildsalmon_Su!1@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev

/usr/local/lib/python3.7/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

'Connected: mildsalmon_su@dev'

In [ ]:
%%sql

DROP TABLE IF EXISTS mildsalmon_su.name_gender;
CREATE TABLE mildsalmon_su.name_gender (
   name varchar(32),
   gender varchar(8)
);

 * postgresql://mildsalmon_su:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
Done.
Done.

[]

In [ ]:
import psycopg2

# Redshift connection 함수
def get_Redshift_connection():
    host = "learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com"
    redshift_user = "mildsalmon_su"
    redshift_pass = "Mildsalmon_Su!1"
    port = 5439
    dbname = "dev"
    conn = psycopg2.connect("dbname={dbname} user={user} host={host} password={password} port={port}".format(
        dbname=dbname,
        user=redshift_user,
        password=redshift_pass,
        host=host,
        port=port
    ))
    conn.set_session(autocommit=True)
    return conn.cursor()

In [ ]:
import requests

def extract(url):
    f = requests.get(url)
    return (f.text)

In [ ]:
def transform(text):
    lines = text.split("\n")
    return lines

# Assignment #1 - Colab Python 코드 개선하기

## 1. 헤더가 레코드로 추가되는 문제 해결하기

lines의 데이터를 확인해보자

In [ ]:
link = "https://s3-geospatial.s3-us-west-2.amazonaws.com/name_gender.csv"

data = extract(link)
lines = transform(data)

lines[:10]

['name,gender',
 'Adaleigh,F',
 'Amryn,Unisex',
 'Apurva,Unisex',
 'Aryion,M',
 'Alixia,F',
 'Alyssarose,F',
 'Arvell,M',
 'Aibel,M',
 'Atiyyah,F']

리스트의 0번째 인덱스에 해당하는 element가 헤더인 것을 확인할 수 있다.

따라서, 0번째 인덱스를 제외하면 헤더가 레코드로 추가되는 문제를 해결할 수 있다.

In [ ]:
def load(lines):
    cur = get_Redshift_connection()
    # 헤더가 레코드로 추가되는 문제 해결
    for r in lines[1:]:
        if r != '':
            (name, gender) = r.split(",")
            print(name, "-", gender)
            sql = "INSERT INTO mildsalmon_su.name_gender VALUES ('{n}', '{g}')".format(n=name, g=gender)
            print(sql)
            cur.execute(sql)

## 2. Idempotent하게 job을 만들기

멱등하다는 것은 언제나 동일한 결과를 보장하는 것이다.

In [ ]:
def load(lines):
    cur = get_Redshift_connection()
    # INSERT를 하기 전에 table의 모든 내용을 지워주면, 멱등성을 지킬 수 있다.
    sql = "DELETE FROM mildsalmon_su.name_gender"
    cur.execute(sql)
    # 헤더가 레코드로 추가되는 문제 해결
    for r in lines[1:]:
        if r != '':
            (name, gender) = r.split(",")
            print(name, "-", gender)
            sql = "INSERT INTO mildsalmon_su.name_gender VALUES ('{n}', '{g}')".format(n=name, g=gender)
            print(sql)
            cur.execute(sql)

## 3. Transaction 사용하기

아직 transaction까지는 잘 사용하지 못하는 것 같습니다. ㅠㅠ